.main_homepage {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.left {
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trip {
    padding: 10px;
}

.trip_image_homepage {
    height: 200px;
    width: 300px;
    float: left;
    margin-right: 20px;
}

.reserve {
    text-align: right;
}

.right {
    flex-basis: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.promotions {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 50px;
}

.promotions h2 {
    margin-bottom: 5px;
}

.promotions h3 {
    margin-bottom: 10px;
}

.date {
    margin-top: 10px;
    margin-bottom: 10px;
}

.reserve_promotion {
    margin-top: 10px;
}

.tips {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.tips h2 {
    margin-bottom: 20px;
}

.tip {
    padding: 15px 0px;
    margin: 0;
}

.tip:nth-child(even) {
    border: 1px black;
    border-style: dashed;
    background-color: #FFBDDA;
}

@media all and (max-width: 1000px) {
    .main_homepage {
        flex-direction: column;
        justify-content: center;
    }

    .tips {
        position: relative;
        display: none;
    }
}